@tailwind base;

@layer base {
    .no-tailwindcss-base {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: revert;
            font-weight: revert;
        }
    
        ol,
        ul {
            list-style: revert;
            margin: revert;
            padding: revert;
        }
    }
}

@tailwind components;
@tailwind utilities;
@import 'ckeditor-tailwind-reset/ckeditor-tailwind-reset';

[x-cloak] {
    display: none;
}

.card {
    @apply bg-white dark:bg-gray-800 shadow m-auto
}

.card-body {
    @apply px-4 py-5 sm:p-6
}

.link-button-default {
    @apply inline-flex items-center px-4 py-2 bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

/* STEP */

.form-step {
    @apply font-medium px-6 border-b-2 tracking-wider py-2
}

.active {
    @apply border-indigo-500 rounded-t  bg-indigo-100
}